@model List<Card>
@{
    int count = 0;
}
<div class="container">
    <h1 style="color:blue"><b>Card : </b></h1>
    <a asp-action="create" asp-controller="card" class="btn btn-success">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>
                        <div>
                            <img src="~/uploads/card/@item.ImageUrl" style="width:100px ; height:100px" />
                        </div>
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="card" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="card" asp-route-id="@item.Id" class="btn btn-danger delete-button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
