@model PaginatedList<Setting>
@{
    int count = ((Model.ActivePage-1)*2);
}
<div class="container">
    <h1 style="color:blue"><b>Setting : </b></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <a asp-action="update" asp-controller="card" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
       @if(Model.HasPrevious)
       {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.ActivePage-1)">Previous</a>
            </li>
       }

       @for (int i = 1; i <= Model.TotalPageCount; i++)
        {
            <li class="page-item @(Model.ActivePage==i?"active":"")"><a asp-route-page="@i" class="page-link">@i</a></li>
        }

        @if(Model.HasNext){
            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.ActivePage+1)">Next</a>
            </li>
        }
    </ul>
</nav>
